name: Test
on:
  push:
    branches:
      - master
      - allow-use-b2s-and-s2b-function-with-old-and-new-formats
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: 
          - stable
          - oldstable
        os: [ubuntu-latest, macos-latest, windows-latest, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - run: go test -shuffle=on ./...
      - run: go test -race -shuffle=on ./...
  backward_compatibility:
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - 1.22.x
          - 1.21.x 
          - 1.20.x
          - 1.19.x
          - 1.12.x
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - run: go version
      - run: go test -race ./...
